.border-end-brand{
    border-right: 8px solid var(--upper-color) !important;
    background-color: rgba(215, 216, 243, 0.1) !important;
}

.border-hover{
    transition:all 1s;
}
.border-hover:hover{
    background-color: #757df85c !important;
}

.menu-selected{
    background-color: rgba(168, 170, 236, 0.1) !important;
}

.bg-panel{
    background-color: #eee;
}

.bi{
    transition: all 0.5s;
}

.charts-sizes{
    max-height: 600px !important;
    width: 100% !important;
}

.menu-container{
    transition: all 0.8s;
}
.menu-container.close{
    max-width: 100px;
}

.left-column{
    transition: width 0.8s;
}
.left-column.open{
    width: calc(100% - 100px);
}