

.navbar{
    font-size: 1rem;
}

.fs-8{
    font-size:0.8rem;
}
.fs-7{
    font-size:0.6rem;
}

.fs-10{
    font-size: 1.3rem;
    font-weight: bold;
}

.fs-20{
    font-size: .8rem ;
}

.fs-22{
    font-size: 1rem;

}
.fs-21{
    font-size: .9rem;
}
.fs-info{
    font-size: .95rem;
}

.add-register-btn-header{
    background-color: var(--brand-color);
    
}

.add-register-btn-header{
    transition: background-color 1s;
}
.add-register-btn-header:hover{
    background-color: var(--brand-color-hover);
}

.nav-item:hover{
    background-color: #eee;
    transition: all .5s;
}
.btn-brand{
    background-color:var(--brand-color);
}


.text-brand{
    color: var(--brand-color);
}

.btn-outline-brand{
    border:1px solid var(--brand-color);
}

.icon-save-share:hover{
    color: black  !important;
    background-color: #eee;
    border-radius: 50%;
}

.icon-save-share{
    transition: all .8s;
}

.text-brand-hover:hover{
    background-color: var(--brand-color-hover);
}

.customer-info-product{
    line-height: 2;
}

.text-muted-hover-light:hover{
    background-color: var(--text-muted-hover) !important;
    color:white;
    background-color:red;
}

.text-muted-hover-light{
    transition: background-color .8s;
}

.carousel-img{
     width:100%;
    height:420px;
}

.title-costumer{
    line-height: 2;
}

.focus-brand-color{
    border-radius: 10px;;
}
.focus-brand-color:focus{
    outline: 2px solid var(--brand-color);
    border: 2px solid var(--brand-color);
    transition: all .8s;
}

.textarea-notes{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width:1200px)
{
    .responsive-btn{
        font-size: .7rem !important;
        margin: 0;
    }

}

@media (max-width:1000px)
{
    .responsive-btn{
        font-size: .9rem !important;
    }

}