@font-face {
    font-family: sans1;
    src: url('./fonts/sans1.ttf');
}


body{
    font-family: sans1 !important;
}    

:root{
    --brand-color:#a62626;
    --brand-color-hover:#c93c3c;
    --color-gray: #e2e2e29a;
    --color-gray-lighter: #e8e8e89a;
    --text-muted-hover:#c4c8cc;

}    


