header h1{
    background-color:rgb(23, 83, 249);
    color : white;
    padding:45px 16px;
    border-radius: 10px;
}

.media h2{
    padding-left: 25px;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.media{
    
    border-radius: 8px;
    background-color:white;
}

body{
    
    font-family: "Helvetica Neue",Helvetica;
    background-color: rgb(221, 219, 219);
}



.media-body{
    width: calc(50% - 20px );
    margin: 10px;
    float: left;
    box-sizing: border-box;
    background-color: rgb(221, 219, 219);
    padding:10px;
    border-radius: 8px;;
    
}

.media-content {
    overflow: auto;
    padding-left: 10px;
}
.media-content h4{
    margin:5px auto;
    font-size:large;
}
.media-content p{
    font-size:large;
    margin-top: 0;
}

.media-img{
    float: left;
}