html{
     --font:'Raleway', sans-serif;
}

.container{
    text-align: center;
    width: 40%;
    margin: 10% auto;
    margin-top: 15%;
}

body{
    color:white;
    background-image: url('./img/pexels-pixabay-158366.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: var(--font);
}


input[type="text"],input[type="password"]{
    border-style: none;
    width: 95%;
    margin-top: 20px;
    height: 55px;
    border-radius: 20px;
    opacity: 30%;
    padding-left: 20px;
    font-weight: bold;
    font-family: var(--font);
    font-size: 1.1em;
}


input[type="text"]:hover{
    box-shadow: 0px 0px 20px 5px #fff;
    border: 1px solid white;
}

input[type="password"]:hover{
    box-shadow: 0px 0px 20px 5px #fff;
    border: 1px solid white;
}

input[type="submit"]{
    width: 100%;
    margin-top: 20px;
    height: 55px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(49, 98, 212);    
    font-weight: bold;
    font-size: 1.5em;
    color:inherit;
    font-family: var(--font);
    padding:0;
}

input[type="submit"]:hover{
    cursor: pointer;
}

.footer-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form h5 a{
    text-decoration: none;
    color:inherit;
}

.footer{
    display: flex; 
    justify-content: center;
    align-items: center;
}

button{
    margin-left: 10px;
    width: 20vw;
    height: 55px;
    border-style: none;
    border-radius: 10px;
    font-family: var(--font);
    font-size:1.2em;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}

@media(max-width:384px){
    button{
        font-size: 0.5em;
    }
}

@media(max-width:850px){
    .container{
        width: 80%;
        margin-top: 30%;
    }
}