@font-face {
    font-family: sans;
    src: url("../FONTS/sans.ttf") format("truetype");
}

.persian{
    font-family: sans ;
}
.cursor-pointer{
    cursor: pointer;
}

body{
    background-color: #eee !important;
    direction: rtl;
}

.sidebar{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5) ), url('../IMAGES/milad-tower2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5px 7px 25px #999;
}

.sidebar-link{
    transition: all 0.4s;
}
.sidebar-link:hover{
    background-color: rgba(68, 68, 68, .7);
    border-radius: 5px;
}
.sidebar-active{
    background-color: #f44336;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #111;
    transition: all 0.5s;
}
.sidebar-active:hover{
    background-color: #f66436;
    transform:translateY(-3px)

}

.search_button{
    border-radius:50% !important;
    padding:10px 16px;
    transition: all 0.5s;
}
.search_button:hover{
    background-color: rgba(204, 204, 204, .5) !important;
    transform:translateY(-5px);
}
.search_input{
    background-color:transparent !important;
    border: none !important;
    border-radius: none !important;
    transition: all 0.5s;
    border-bottom: 1px solid #fff !important;
}


.search_input:focus{
    background: transparent !important;
    border:none !important ;
    box-shadow: none !important;
    border-bottom: 1px solid #f44336 !important;
}

/* sm 768px */
@media (max-width: 768px) {
    .sidebar ,.topnav{
        position:static !important;;
    }
    .sidebar{
        height: auto;
    }
    
    /* css selector copy chrome */
    #navbar-icon-header {
        justify-content:space-around ;
        align-items: center  ;
    }
}


/* cards */
    .card-comman{
        transition: all 0.5s;
    }
    .card-comman:hover{
        transform:translateY(-5px);
        cursor: pointer;
        box-shadow: 2px 3px 15px #999 !important;
    }

/* end of  cards */
